# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/bin
*/src/main/java/de/htwberlin/utils/DBCred.java
.idea
dbtech_service.iml
